.signUpBtn{
    background-color: #1350a4;
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    font-size: 16px;
    margin: 4px 8px;
    opacity: 1;
    border-radius: 8px;
    transition: 0.3s;
}
.signUpBtn:hover {background-color: #14335e;}