.oneLineText {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 46px;
    border: unset;
    border-radius: 6px;
    outline-color: #365688;
    background-color: #353f4f;
}

.oneLineText:focus {
    border: #365688 solid 3px;
    line-height: 22px;
    padding: 8px 13px;
    outline: none;
}

.inputInvalid {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 6px;
    background-color: #353f4f;
    border: red solid 3px;
    outline: none;
}

@media print {
    .oneLineText {
        padding: 0;
    }

    .inputInvalid {
        padding: 0;
    }
}
