.dateField {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 45%;
    min-height: 44px;
    border: unset;
    border-radius: 6px;
    outline-color: #365688;
    background-color: #353f4f;
}

.dateField:focus {
    outline: #365688 solid 4px;
}

.dateField::-webkit-calendar-picker-indicator {
    filter: invert(1);
}