.container{
    width: 100%;
    min-height: 46px;
    border-radius: 6px;
}

.control {
    font-size: 16px;
    line-height: 28px;
    background-color: #353f4f !important;
    border: #353f4f solid 3px !important;
}

.control:focus-within {
    outline: none !important;
    border: #4c6386 solid 3px !important;
    box-shadow: none;
}

.placeholder {
    color: white !important;
}

.menu {
    font-size: 16px;
    line-height: 28px;
    background-color: #353f4f !important;
    border-color: #353f4f !important;
}

.option {
    background-color: #353f4f !important;
}

.singleValue {
    color: white !important;
}

.option:hover {
    background-color: #5a667a !important;
}

.typeSelect:focus {
    outline: none;
}