.mainContainer{
    background-color: #010409;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.mainContainer span {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
}

.mainContainer label {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.resetPassText {
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: right;
    margin-bottom: 10px;
}

.field{
    padding-bottom: 24px;
}

.ssolink {
    display: block;
    text-align: center;
    font-weight: 600;
}

.siteName{
    padding-top: 48px;
    padding-bottom: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    letter-spacing: -1px;
}

.siteName h1 {
    cursor: pointer;
}

.formBody{
    width: 100%;
    max-width: 60vh;
    align-self: center;

    background-color: #161b22;
    border-radius: 8px;
    padding: 24px 48px;
}

.copyRight{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyRight a {
    color: #7d8590;
    margin: 0 10px;
    font-weight: 600;
}

.footerText{
    padding-top: 24px;
    display: block;
}

.footerLink span {
    font-size: 14px;
    text-align: center;
}

.passwordGrid {
    display: flex;
    justify-content: space-between;
}

.signInText{
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.signUpLink {
    color: #3564ad !important;
}
.signUpLink:hover {
    color: #0f64e8 !important;
}

.error{
    display: block;
    color: red;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 12px;
}


