.resetPassText {
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: right;
    margin-bottom: 10px;
}

.field{
    padding-bottom: 24px;
}

.footerText{
    padding-top: 24px;
    display: block;
}

.footerLink span {
    font-size: 16px;
    text-align: center;
}

.passwordGrid {
    display: flex;
    justify-content: space-between;
}

.signUpLink {
    font-weight: 600;
    color: #3473d5 !important;
}
.signUpLink:hover {
    font-weight: 600;
    color: #0f6af6 !important;
}


