.button{
    background-color: #ff0000;
    border: none;
    margin: 4px 8px;
    border-radius: 8px;
    transition: 0.3s;

    width: 40px;
    height: 40px;
}

.button:hover {background-color: #860909;}

.icon{
    width: 28px;
    height: 28px;
    font-weight: 600;
    padding-top: 4px;
}
