.reportEntry{
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a212d;
    border-radius: 4px;
}

.reportEntry:hover{
    background-color: #1f2a3a;
}

.buttons{
    display: flex;
}

.reportName{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    word-wrap: anywhere;
}

@media screen and (max-width: 760px) {
    .reportEntry {
        flex-direction: column;
    }

    .reportName {
        justify-content: center;
    }
}

@media screen and (max-width: 420px) {
    .buttons{
        flex-wrap: wrap;
    }
}