.container{
    background-color: #d01919;
    height: 2%;
    max-width: 80vh;
    width: 100%;
    border-radius: 12px;
    padding: 25px 21px;
    overflow:hidden;
    margin: 25px auto 0 auto;
    user-select: none;
}