.menuColumn{
    background-color: #0d1117;
    min-height: 92vh;
    width: 17%;
    display: block;
    float: left;
}

.menuButton{
    display: flex;
    padding: 15px;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
}

.menuButton:hover{
    background-color: #19212d;
    cursor: pointer;
}

.icons {
    width: 20px;
}

.iconTextContainer{
    padding-left: 10px;
}

@media screen and (max-width: 960px) {
    .menuColumn {
        display: flex;
        width: 100%;
        min-height: auto;
        justify-content: center;
    }
}

@media screen and (max-width: 770px) {
    .menuButton {
        height: 100%;
        width: 8vh;
        justify-content: center;
        align-content: center;
    }

    .iconTextContainer{
        display: none;
    }

    .icons {
        width: 25px;
    }
}