.selectContainer{
    width: 45%;
    padding-bottom: 2vh;
}

.checkboxContainer{
    padding-bottom: 2vh;
}

.statisticsContainer{
    padding-bottom: 2vh;
    font-size: 20px;
}

@media print {
    .selectContainer{
        display: none;
    }

    .checkboxContainer{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .selectContainer{
        width: 100%;
        align-self: center;
    }
}
