.sideBlock{
    display: flex;
    justify-content: right;
    width: 30%;
}

.centerBlock{
    display: flex;
}

@media screen and (max-width: 430px) {
    .sideBlock {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .centerBlock {
        width: 100%;
        flex-direction: column;
    }
}
