.buttonOn{
    background-color: #2b64c2;
    border: none;
    margin: 4px 4px 8px 0;
    border-radius: 8px;
    transition: 0.3s;

    width: 40px;
    height: 40px;
}

.buttonOff{
    background-color: #3a4556;
    border: none;
    margin: 4px 4px 8px 0;
    border-radius: 8px;
    transition: 0.3s;

    width: 40px;
    height: 40px;
}

.buttonOff:hover {
    filter: brightness(0.7);
}
.buttonOn:hover {
    filter: brightness(0.7);
}

.icon{
    width: 28px;
    height: 28px;
    font-weight: 600;
    padding-top: 4px;
}
