* {
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif;
  color: white;
}

html {
  background-color: black;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  background-color: #272e3a;
}

::-webkit-scrollbar-thumb {
  background-color: #3a4556;
}

@media print {
  * {
    color: black;
  }
  body {
    padding-left: 2cm;
  }
}

@page {
  size: portrait;
}
