.container{
    background-color: #272e3a;
    height: 2%;
    max-width: 80vh;
    width: 100%;
    border-radius: 12px;
    padding: 25px 21px;
    overflow:hidden;
}

.outerContainer{
    max-width: 90vh;
    width: 100%;
    display: flex;
    margin: 25px auto 0 auto;
    position:relative;
    left: 5vh;
}

.outerContainerDisabled{
    max-width: 80vh;
    width: 100%;
    display: flex;
    margin: 25px auto 0 auto;
    cursor: pointer;
}

.addButtonColumn{
    width: 10vh;
    display: block;
}

.addButton {
    width: 50px;
    margin: 0 auto;
}

@media screen and (max-width: 760px) {
    .outerContainer {
        max-width: 80vh;
        flex-direction: column;
        left: 0;
    }

    .addButtonColumn {
        max-width: 80vh;
        width: 100%;
        padding-top: 10px;
    }

    .addButton {
        max-width: 80vh;
        width: 100%;
    }
}

.btnContainer{
    width: 50px;
}

.blockHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4vh;
    padding: 0 8px 10px 8px;
}

.blockFooter{
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButtonDisabled{
    display: none;
}

.blockInput{
    padding: 10px 8px;
}

.paragraphText{
    font-size: 16px;
}

.oneLineText {
    width: 45%;
}

.unselectedText{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 0;
    width: 100%;
    min-height: 46px;
    user-select: none;
    color: grey;
}

.unselectedPlaceholder{
    color: white;
}

.selectContainer{
    width: 45%;
}




