.container{
    background-color: #272e3a;
    height:1%;
    max-width: 80vh;
    width: 100%;
    border-radius: 12px;
    padding: 29px;
    overflow:hidden;
    margin: 0 auto;
}

.formName{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 12px;
}

.formDescription{
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 12px;
}

@media screen and (max-width: 430px) {
    .container {
        margin: 12vh auto 0 auto;
    }
}