.sideBlock{
    display: flex;
    justify-content: right;
    width: 30%;
}

.centerBlock{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.selectContainer{
    display: flex;
    justify-content: center;
    width: 22vh;
    margin-right: 2vh;
}

@media print {
    .header {
        display: none;
    }
}

@media screen and (max-width: 730px) {
    .centerBlock {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .sideBlock {
        width: 100%;
        justify-content: center;
    }

    .selectContainer {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 430px) {
    .sideBlock {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .sideBlock a {
        width: 100%;
    }
}