.sideBlock{
    display: flex;
    justify-content: right;
    width: 40%;
}

.centerBlock{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.selectContainer{
    display: flex;
    justify-content: center;
    width: 22vh;
    margin-right: 2vh;
}

@media print {
    .header {
        display: none;
    }
}