.container{
    padding-bottom: 10px;
}

.containerOutline{
    border-bottom: 2px solid #3a4557;
    transition: 0.5s;
    margin-bottom: 10px;
}

.container:focus{
    border-bottom-color: #2b64c2;
    outline: none;
}

.container:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    color: #6f7988;
}

.containerError{
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}

.containerError:focus{
    outline: none;
}

.containerError:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    color: #6f7988;
}

@media print {
    .containerOutline {
        border: none;
    }
    .containerError{
        border: none;
    }
}