.container{
    background-color: #272e3a;
    height:1%;
    width: 80vh;
    border-radius: 12px;
    padding: 25px 21px;
    overflow:hidden;
}

.formName{
    font-weight: 600;
    font-size: 24px;
    padding: 8px;
    margin-bottom: 12px;
}

.formDescription{
    font-size: 16px;
    padding: 8px;
    margin-bottom: 12px;
}

@media print {
    .container{
        padding: 0;
    }
    .formName{
        margin: 0;
    }
    .formDescription{
        margin: 0;
    }
}
