.container{
    background-color: #272e3a;
    height:1%;
    max-width: 80vh;
    width: 100%;
    border-radius: 12px;
    padding: 25px 21px;
    overflow:hidden;
    margin: 0 auto;
}

.formName{
    font-weight: 600;
    font-size: 24px;
    padding: 8px;
    margin-bottom: 12px;
}

.formDescription{
    font-size: 16px;
    padding: 8px;
    margin-bottom: 12px;
}

@media print {
    .container{
        padding: 0;
    }
    .formName{
        margin: 0;
    }
    .formDescription{
        margin: 0;
    }
}

@media screen and (max-width: 730px) {
    .container {
        margin: 18vh auto 0 auto;
    }
}

@media screen and (max-width: 430px) {
    .container {
        margin: 25vh auto 0 auto;
    }
}