.container{
    background-color: #010409;
    min-height: 92vh;
    width: 60%;
    display: block;
    padding: 15px;
    float: left;
}

.profileContainer{
    margin: 12px 100px;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
    background-color: #1a212d;
}

.firstNameInput{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.generalInfo{
    display: flex;
    justify-content: space-between;
}

.generalBlock{
    padding-bottom: 12px;
}

.generalInfo p{
    padding: 4px 8px;
    font-weight: 600;
}

.inputFieldsContainer{
    display: flex;
    justify-content: space-between;
}

.field{
    width: 100%;
    padding: 8px 8px;
}

.field label{
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
}

.buttonGroup{
    display: flex;
    justify-content: flex-end;
}

.centeredText{
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: 18px;
}
