.container{
    width: 100%;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

@media print {
    .container{
        margin: 0;
    }
}

@media screen and (max-width: 730px) {
    .container {
        margin: 18vh auto 0 auto;
    }
}

@media screen and (max-width: 430px) {
    .container {
        margin: 25vh auto 0 auto;
    }
}