.sideBlock{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 430px) {
    .sideBlock{
        flex-direction: column;
        width: 100%;
    }

    .sideBlock a {
        width: 100%;
    }
}