.typeSelect{
    font-size: 16px;
    line-height: 28px;
    padding: 8px 10px;
    width: 45%;
    min-height: 44px;
    border-right: solid #353f4f 12px;
    border-left: solid #353f4f;
    border-top: solid #353f4f;
    border-bottom: solid #353f4f;
    border-radius: 6px;
    background-color: #353f4f;
}

.typeSelect:focus {
    outline: none;
}