.formEntry{
    padding: 5px 10px;
    margin: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a212d;
    border-radius: 4px;
}

.formEntry:hover{
    background-color: #1f2a3a;
}

.buttons{
    display: flex;
}

.formName{
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
}

.copyMessage{
    position: absolute;
    top: -45px;
    left: -40px;

    background-color: #2b6b10;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    height: 40px;
    width: 140px;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: visibility 0s, opacity 0.4s linear;
}

.copyMessageContainer{
    position: relative;
}