.container{
    background-color: #272e3a;
    height: 2%;
    max-width: 80vh;
    width: 100%;
    border-radius: 12px;
    padding: 25px 21px;
    overflow:hidden;
    margin: 25px auto 0 auto;
}

.blockHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4vh;
    padding: 0 8px 10px 8px;
}

.blockInput{
    padding: 10px 8px;
}

.paragraphText{
    font-size: 16px;
}

.oneLineText {
    width: 45%;
}

.unselectedText{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 0;
    width: 100%;
    min-height: 46px;
}




