.formEntry{
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a212d;
    border-radius: 4px;
}

.formName{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    word-wrap: anywhere;
}

.buttons{
    display: flex;
}

.formEntry:hover{
    background-color: #1f2a3a;
}

.copyMessage{
    position: absolute;
    top: -45px;
    left: -40px;

    background-color: #2b6b10;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    height: 40px;
    width: 140px;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: visibility 0.4s, opacity 0.3s linear;
}

.copyMessageContainer{
    position: relative;
}

@media screen and (max-width: 760px) {
    .formEntry {
        flex-direction: column;
    }

    .formName {
        justify-content: center;
    }

    .buttons {
        min-width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 430px) {
    .buttons{
        flex-wrap: wrap;
    }
}