.mainColumn{
    background-color: #0d1117;
    min-height: 92vh;
    width: 15%;
    display: block;
    float: left;
}

.menuButton{
    padding: 15px;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
}

.menuButton:hover{
    background-color: #19212d;
    cursor: pointer;
}

.icons {
    width: 27px;
    padding-right: 10px;
}