.container{
    background-color: #010409;
    min-height: 92vh;
    width: 60%;
    display: block;
    padding: 3vh 5vh;
    float: left;
}

@media screen and (max-width: 960px) {
    .container {
        align-self: center;
        width: 100%;
    }
}