.infoColumn{
    background-color: #0d1117;
    min-height: 92vh;
    width: 23%;
    display: block;
    padding: 20px 20px;
    float: left;
}

@media screen and (max-width: 960px) {
    .infoColumn {
        min-height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .infoColumn {
        display: none;
    }
}

