.header{
    background-color: #161b22;
    font-size: 14px;
    width: 100%;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    position: fixed;
    top: 0;
    z-index: 2;
}

.siteName{
    align-self: center;
    font-size: 22px;
}

.iconBlock{
    display: inherit;
}

.sideBlock{
    display: flex;
    align-items: center;
}

.centerBlock{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 16vh;
}

.selectContainer{
    display: flex;
    justify-content: center;
    width: 20vh;
    margin-right: 2vh;
}

.container{
    background-color: #272e3a;
    height:1%;
    width: 80vh;
    border-radius: 12px;
    padding: 25px 21px;
    overflow:hidden;
}

.formName{
    font-weight: 600;
    font-size: 24px;
    padding: 8px;
    margin-bottom: 12px;
}

.formDescription{
    font-size: 16px;
    padding: 8px;
    margin-bottom: 12px;
}

@media print {
    .container{
        padding: 0;
    }
    .formName{
        margin: 0;
    }
    .formDescription{
        margin: 0;
    }
    .header {
        display: none;
    }
}
